.title-filter{
    padding:20px 0px !important;
    h1{
        margin:10px 0px !important;
        font-size:24px;
        font-weight:bold;
    }
}
.checkbox-filter{
    display: flex;
    flex-direction: column;
    padding:10px 0px;
}
.header-filter{
    height:60px;
}

.example-margin{
    margin:10px 0px;
    color: black;
    font-weight: bold;
}